body {
    margin: 0;
}

.top_header {
    background-color: #222326;
    height: 45px;
    border-bottom: 1px solid #414346;
}
.navbar-default {
    /* background: none; */
    border: 0;
}
.navbar-nav>li>a {
    padding-top: 12px;
    padding: 8px;
    padding-bottom: 12px;
    color: #fff;
}

.main_header {
    height: 235px;
    background-color: #2d3034;
}
.logo {
    height: 133px;
}
.logo img {
    height: 100px;
    width: auto;
    margin-top: 15px;
}

.main_nav_border {
    border-top: 2px solid #27292d;
    border-left: 2px solid #27292d;
    border-right: 2px solid #27292d;
}
.main_nav {
    height: 45px;
    border-top: 2px solid #36393d;
}
.main_nav .navbar-nav>li>a {
    color: #bebfc1;
    padding: 8px;
}
.search_area {
    float: right;
    margin-top: -18px;
    margin-right: 15px;

}
.search_input {
    background-color: #282b2f;
    border: 0;
    height: 32px;
    width: 140px;
    font-size: 11px;
    padding: 10px;
    outline: 0;
    color: #fff;
}
.search_submit {
    height: 32px;
    border: 0;
    background-color: #3e4145;
    color: #fff;
    font-size: 11px;
}

.main_info {
    background-color: #fff;
    height: 55px;
}
.random_post {
    line-height: 55px;
    color: #999;
}
.random_post a {
    color: #999;
    margin-right: 30px;
}
.social_area {
    background-color: #3382b5;
    height: 55px;
    color: #999;
}
.social_txt {
    line-height: 55px;
    float: left;
}
.social_icons {
    float: right;
    height: 20px;
    margin-top: 17px;
}
.social_icons img {
    height: 20px;
}
.social_icons a {
    text-decoration: none;
}
.main_info .row {
    margin: 0;
}
